* {
    margin: 0;
    padding: 0;
}

/*HEADER*/
header {
    text-align: center;
    display:table;
    width: 100%;
    margin-bottom: 20px;
}
header h1{
    background-color: #f2f2f2;
    height: 100px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}

/*
.topnav {
    overflow: hidden;
    background-color: #f2f2f2;
    border: 1px solid #000;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
*/


/*Graphique test*/
.headerChart{
    text-align: center;
    margin-bottom: 10px;
}

#graphCanvas{
    height: 400px;
}

/*Index*/

#pagination{
    text-align: center;
    margin-bottom: 10px;
}

#pagination p{
    display: inline-block;
    cursor: pointer;
    width: 50px;
    height: 20px;
    background-color: darkseagreen;
    border: 1px solid #000;
    text-align: center;
}

table tbody, table thead
{
    border: 1px solid #000;
    display: block;
}

table tbody
{
    overflow: auto;
    height: 350px;
}

th, td
{
    border: 1px solid #999;
    width: 250px;
}
